.card-container {
  transition: 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 20%) !important;
  height: 160px;
  background-color: var(--white);

  mat-icon {
    font-size: 62px;
    width: auto !important;
  }

  .card-add-button-container {
    margin-top: 26px;
  }
}

// .card-container:active,
// .card-container:hover {
//   background-color: #f5f5f5;
//   transition: 0.4s;
// }

.card-container-info {
  min-height: 160px;
  transition: 0.3s ease-out;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%) !important;
  pointer-events: auto;
  background-color: var(--card-background);

  .card-spinner {
    position: relative;
    top: 61px;
  }

  mat-icon {
    font-size: 62px;
    width: auto !important;
  }

  .card-totalizador {
    padding-top: 20px;

    h2 {
      text-align: center;
      margin-bottom: 0;
      color: var(--card-text);
      font-weight: normal !important;
    }

    span {
      margin-right: 8px;
      font-size: var(--default-size);
      color: var(--card-text);
      font-weight: normal !important;
    }
  }

  .visualizar-detalhes {
    // width: 100%;
    // text-align: left;
    // padding-left: 37px;
    font-weight: lighter;

    @media only screen and (max-width: 767px) and (orientation: landscape) {
      text-align: center;
      padding-left: 0;
    }

    @media only screen and (min-width: 767px) and (orientation: landscape) {
      text-align: center;
      padding-left: 0;
    }
  }
}

// .card-container:active .card-container:hover,
// .card-container-info:active,
// .card-container-info:hover {
//   background-color: #f5f5f5;
//   transition: 0.4s;
// }

::ng-deep mat-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

:host ::ng-deep .material-icons {
  color: var(--card-text);
}

:host ::ng-deep .mat-grid-tile-content {
  color: var(--card-text);
}

.card-imagem {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  height: 216px;
  position: relative;
  z-index: var(--ahead);
  background: var(--dark);



  img {
    height: 216px;
    width: 100%;
    z-index: var(--normal);
    object-fit: contain;
    position: relative;
    top: 3px;
  }

  .card-imagem-visualizacoes {
    transition: ease-in-out 0.7s;
    position: absolute;
    z-index: var(--special);
    top: 12px;
    padding-left: 10px;

    span {
      text-shadow: 1px 1px #000;
      color: var(--white);
    }
  }

  .card-mensagem-erro {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    height: 216px;
    position: relative;
    z-index: var(--normal);
    background: var(--almost);
    text-align: center;
    padding-top: 40px;
  }
}

.card-imagem-action-open {
  position: absolute;
  z-index: var(--special);
  top: 88px;
  right: 0px;

  span {
    color: var(--white);
    font-size: 33px;
    // transform: rotate(-90deg);
  }
}

.card-imagem-legenda {
  position: absolute;
  z-index: var(--ahead);
  top: 178px;
  color: var(--white);
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  padding-top: 9px;
}

.mat-spinner.mat-accent circle {
  stroke: var(--uchiha) !important;
}

.black-card {
  background-color: var(--black);
}

.card-mensagem-erro {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
  pointer-events: none;

}

