div#reencontreNavbar {
  transition: linear .4s;
  opacity: 1;

  mat-tab-group {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    z-index: var(--z-index-special);


    .navigation-items {
      display: flex;
      flex-direction: column;

      .home,
      .catalogo,
      .cadastro,
      .configuracoes {
        font-size: 10px;
      }
    }

    .navigation-items:hover {
      cursor: pointer;
    }
  }
}

.navbar-tab-icon {
  font-size: var(--icon);
}

.navbar-item-text {
  font-size: 13px !important;
  top: 1px;
  position: relative;
  padding-left: 2px;
}

::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

:host ::ng-deep .mat-ink-bar {
  visibility: hidden !important;
}

::ng-deep .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
  padding: 0 !important;
  cursor: auto !important;
}

::ng-deep .material-icons {
  margin: 0 auto !important;
  display: block;
}

.u-badge {
  position: relative;
  top: 17px;
  left: 25px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 10px;
  background: red;
  color: white;
  padding-bottom: 2px;
}

.navgar-item-badge-fix {
  position: relative;
  left: -10px;
  top: -10px;
}
