<mat-grid-list cols="1" rowHeight="90px" gutterSize="20px">
  <mat-grid-tile>
    <div class="logo-container">
      <mat-icon aria-hidden="false" aria-label="usuario" class="logo-usuario">account_circle</mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="login-descricao-container">
      <span class="highlighted">Informe abaixo o e-mail que você usa para fazer login no app</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="form-login-container">
  <form class="example-form" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmitAtualizarSenha(form)">
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="email@email.com" type="email" name="email" ngModel required email #email>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-grid-list cols="1" rowHeight="30px" gutterSize="20px">
      <mat-grid-tile>
          <button type="submit" mat-raised-button color="primary" *ngIf="!isLoading"
              [disabled]="!form.valid"
              >
              Enviar
          </button>
      </mat-grid-tile>
      <mini-loading [isLoading]="isLoading" *ngIf="isLoading"></mini-loading>
    </mat-grid-list>
  </form>
</div>


